.benefits-wrapper {
    height: 100%;
    margin-bottom: 10rem;
    color: #3a4166;
  }
  
  .benefits-container {
    display: flex;
    margin: 2rem 5rem;
  }
  
  .benefits-h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 5rem;
  }
  
  .benefit-text {
    text-align: left;
    padding-right: 5rem;
    width: 60vw;
  }

  .benefit p {
      font-size: 1vw;
  }
  
  .benefit,
  .price {
    height: 15vh;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    padding: 0.6rem;
  }
  
  .benefit img,
  .price img {
    width: 100px;
    height: 100px;
    float: left;
    padding: 0 2rem 2rem 0;
  }
  
  .benefit-text button {
    margin-left: 9rem;
  }
  
  .benefit-img {
    position: relative;
    align-self: center;
  }
  
  .img1 {
    position: absolute;
    top: 4rem;
    left: -3rem;
  }
  
  .img2 {
    position: absolute;
    top: 4rem;
    right: -3rem;
  }
  
  .img3 {
    position: absolute;
    top: 10.5rem;
    left: -3rem;
  }
  