.cloudvps-container {
    height: 100vh;
    background-image: linear-gradient(45deg,
        #00349b,
        rgba(0, 92, 255, 0.9219),
        #007aff);
    color: #fff;
}
 
.main-cloudvps {
    display:flex;
    margin-left: 5rem;
    margin-right: 5rem;
}
.cloudvps-img img {
    width: 100%;
    height: 100%;
}
  
.cloudvps-text {
    text-align: left;
    padding: 2rem 6rem 2rem 3rem;
    margin-right: 5rem;
    width: 50vw;
}

.cloudvps-text h1 {
    padding-top: 3rem;
    font-size:8vh;

}
.cloudvps-text p {
    margin: 0.2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
    font-size:3.5vh;
}