.domain-container {
    height: 100%;
    background-image: linear-gradient(45deg,
        #00349b,
        rgba(0, 92, 255, 0.9219),
        #007aff);
    color: #fff;
}
  
.domain-wrapper {
    padding: 5rem;
    text-align: center;
}
  
.domain-text h1 {
    font-size: 3rem;
}
  
.domain-text p {
    margin-bottom: 3rem;
    font-size: 1.4vw;
}
  
.searchbar,
.domain-type,
.cek {
    border-radius: 0.3rem;
    margin: 0.4rem;
}
  
.search-box input {
    padding: 1rem;
    width: 45%;
}
  
.domain-type,
.cek {
    padding: 1rem;
}
  
.domain {
    width: 10%;
}
  
.cek {
    width: 15%;
}
  
.domain-notes p {
    display: inline;
    padding: 0.2rem;
    font-size: 1vw;
}
  
.domain-notes {
    margin: 1rem;
}
  