.main-container {
    height: auto;
    background-image: linear-gradient(45deg,
        #00349b,
        rgba(0, 92, 255, 0.9219),
        #007aff);
    color: #fff;
}
  
.main {
    display: flex;
}
  
.main-time {
    display: flex;
    text-align: center;
}
  
.main-time h1 {
    margin: 1rem 1rem 1rem 0;
}
  
.main-img img {
    width: 100%;
    height: 100%;
}
  
.main-text {
    margin-left: 5rem;
    margin-top: 3rem;
    margin-right: 5rem;
    text-align: left;
    padding: 1rem;
    width: 60vw;
}
  
.main-text p {
    margin: 0.2rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.main-text h1 {
    /* untuk h1 dan angka di countdown */
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
  
.btn-orange {
    border-radius: 0.5rem;
    background-color: #fb8c00;
    height: 3rem;
    width: 13rem;
    border-style: none;
    padding: 1rem;
    color: #fff;
    font-weight: bold;
}
  