.footer-container {
    background-color: #333;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 0.1rem;
}
  
.foot {
  display: flex;
  margin: 3rem 5rem 0 5rem;
  padding: 1rem;
  flex-wrap: wrap;
}
  
.footer-container h3,
.footer-container p,
.footer-container li,
.footer-container a {
  color: #fff;
  text-decoration: none;
}
  
.footer-container h3 {
  padding-bottom: 2rem;
  color: #c4c4c4;
}
  
.footer-container p {
  padding-bottom: 0.8rem;
  font-size: 1vw;
}
  
.alamat {
  padding-top: 2rem;
}
  
.foot-menu li,
.foot-menu a {
  list-style: none;
  padding-bottom: 1rem;
  font-size: 1vw;
  color:#fff;
}

.foot-menu {
  padding: 1rem;
  width: 22%;
  margin-bottom: 1rem;
}
  
form input {
  padding-bottom: 1rem;
  background: #333;
  border-style: none;
  border-bottom: 2px solid #fff;
  margin-bottom: 1rem;
  width: 100%;
}
  
form button {
  float: right;
}
  
::placeholder {
  color: #fff;
}
  
.sosmed-logo {
  display: flex;
}
  
.sosmed-logo img {
  padding: 0.5rem;
}
  
.foot-text {
  display: flex;
  padding-left: 1rem;
}
  
.foot-text p,
.foot-text a {
  font-size: 0.8vw;
}
  
.ft-left {
  width: 55%;
}
  
.ft-right {
  width: 45%;
  display: flex;
  justify-content: flex-end;
}
  
.foot-text a,
.foot-text li {
  display: inline;
  list-style: none;
  padding: 0.2rem;
}
  
.chatme {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
  