.guaranted-container {
    height: 100%;
    background: #f6fbff;
    margin-bottom: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #3a4166;
  }
  
  .garansi {
    display: flex;
    margin: 3rem;
  }
  
  .guaranted-img {
    width: 100%;
    height: 100%;
  }
  
  .guaranted-img img {
    margin-left: 12rem;
  }
  
  .guaranted-text h1 {
    padding-bottom: 2rem;
    font-size: 2.5vw;
  }
  
  .guaranted-text p {
    line-height: 2rem;
    font-size: 1.2vw;
  }
  
  .guaranted-text button {
    margin-top: 2rem;
  }
  