.header-container {
    background-image: linear-gradient(45deg,
    #00349b,
    rgba(0, 92, 255, 0.9219),
    #007aff);
    height: 20vh;
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container li {
    list-style: none;
    display:inline;
    padding:1rem;
    color:#fff;
}

.mini-info {
    display: flex;
    justify-content: flex-end;
    height: 5vh;
    padding-right: 5rem;
    font-size:1vw;
}

.mini-info img {
    width: 15px;
    height: 15px;
    padding-right: 1rem;
}

.logo-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 5rem;
}
  
.nav-bar {
    font-size: 1.1vw;
    padding:0.5rem;
}

.logo {
    padding:0.2rem 1.2rem;
}
  
.login-btn {
    border-radius: 2rem;
    width: 5rem;
    border-style: solid;
    padding: 0.5rem;
    color: #fff;
    background-color: transparent;
}
.linked-page {
    text-decoration: none;
    color:#fff;
    cursor: pointer;
}  
  
  