.services-container {
    background-color: #f6fbff;
    height: 100%;
    padding-bottom: 2rem;
    color: #3a4166;
  }
  
  .services-container h1 {
    text-align: center;
    padding-top: 5rem;
    margin:0 0 2rem 0;
  }
  
  .services-cards {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    margin: 2rem 6rem;
    justify-content: space-around;
  }
  
  .service {
    border-radius: 0.8rem;
    margin: 1rem;
    text-align: center;
    padding: 3rem 0.5rem;
    background-color: #fff;
    grid-row: 1/3;
    justify-items: center;
    align-items: stretch;
    box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
    line-height: 1.5rem;
  }
  .service p {
      font-size: 1vw;
  }
  .srv5 {
    grid-column: 2/4;
    grid-row: 3/4;
    height: 6rem;
    display: block;
    text-align: left;
    padding: 2rem;
  }
  
  .srv5 a {
    color: blue;
    text-decoration: none;
  }
  
  .srv5 img {
    width: 92px;
    height: 92px;
    float: left;
    padding-right: 2rem;
  }
  
  .service img,
  .service h3,
  .service p,
  .service h5 {
    margin-bottom: 1.5rem;
    color: rgb(105, 102, 102);
  }
  
  