.packages-wrapper {
    height: 100%;
    background-color: #f6fbff;
    color: #3a4166;
  }
  
  .packages-title {
    text-align: center;
    margin-bottom: 8rem;
    padding-top: 5rem;
  }
  
  .packages-container {
    display: flex;
    justify-content: space-around;
    margin: 2rem 5rem;
  }
  
  .package {
    margin: 1rem;
    text-align: center;
    background-color: #fff;
    justify-items: center;
    align-items: stretch;
    box-shadow: 0 6px 20px rgba(17, 26, 104, 0.2);
    border-radius: 1rem;
    height: 100%;
  }
  
  .label {
    padding: 1rem;
    background-color: rgb(18, 173, 127);
    color: #fff;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  .perfect-price {
    background-color: #fb8c00;
  }
  
  .package h1 {
    margin: 2rem;
    padding-bottom: 2rem;
  }
  
  .package h2 {
    color: #007aff;
  }
  
  .package h2,
  .package h6 {
    display: inline;
  }
  .package p {
    font-size: 0.8vw;
  }
  .package h5 {
      text-decoration: line-through;
  }
  .package h3 {
      margin:0;
  }