.payment-container {
    margin: 5rem;
    color: #3a4166;
  }
  
  .payment-container h4 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .paymentlogo-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .paymentlogo-container img {
    margin: 1rem;
    justify-content: center;
    opacity: 0.1;
    filter: grayscale(50%);
  }
  
  .paymentlogo-container img:hover {
    opacity: 1;
    filter: grayscale(0);
  }
  