.promo-container {
    background-image: linear-gradient(45deg,
        #00349b,
        rgba(0, 92, 255, 0.9219),
        #007aff);
    height: 25vh;
    position: relative;
    padding:1rem;
    }
.promo-campaign{
    margin:0 5rem;
    display:flex;
    justify-content: space-between;
}
.promo-img {
    width:25vw;
}
.promo-img img {
    height: 30vh;
    bottom:0;
    position: absolute;
}

.promo-text {
    color:#fff;
    line-height: 1vh;
}
.promo-text h1{
    font-size: 5vw;
    margin:0;
    float: right;
}

.promo-time {
    color:#fff;
    text-align: center;
    margin:1.5rem;
}

.promo-time p{
    font-size: 1.5vh;
}

.promo-button button{
    top:30%;
    position: relative;
    right:0;
}