.prices-wrapper {
    height: 100%;
    background-color: #f6fbff;
    padding-bottom: 2rem;
    color: #3a4166;
  }
  
  .prices-container {
    display: flex;
    margin: 2rem 5rem;
  }
  
  .prices-h1 {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 5rem;
  }
  
  .prices-text {
    text-align: left;
    padding-right: 5rem;
    width: 60vw;
  }
  
  .prices-img {
    width: 60vw;
    position: relative;
    align-self: center;
    margin: 2rem;
  }
  
  .img-p1 {
    position: absolute;
    top: -2rem;
    left: 3rem;
  }
  
  .img-p2 {
    position: absolute;
    top: 6rem;
    left: -3rem;
  }
  
  .img-p3 {
    position: absolute;
    top: 6rem;
    right: -1rem;
  }
  
  .img-p4 {
    position: absolute;
    bottom: -5rem;
    left: 5rem;
  }
  
  .img-p5 {
    position: absolute;
    right: 2rem;
    bottom: -5rem;
  }
  
.price p {
    font-size: 1vw;
}