.qna {
    height: 100%;
    margin: 5rem;
    color: #3a4166;
  }
  
  .qna-corner {
    margin: 5rem;
  }
  
  .qna-title {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  h3 li {
    padding: 2rem 0;
    border-bottom: 2px solid rgb(214, 211, 211);
  }
  
  .ans {
    padding-left: 2.5rem;
    height: auto;
    display: none;
  }
  
  .question {
    text-decoration: none;
    cursor: pointer;
    color: #3a4166;
  }
  
  .question:focus+.ans {
    display: block;
  }
  
  #ans7 h4 {
    padding: 1rem 0;
  }
  