.quotes-container {
    background-image: linear-gradient(45deg,
        #00349b,
        rgba(0, 92, 255, 0.9219),
        #007aff);
  }
  
  .quotes {
    display: flex;
  }
  
  .quote-text {
    width: 60%;
  }
  
  .quote-text h1 {
    text-align: left;
    margin: 5rem 1rem;
    padding-left: 9rem;
    display: block;
    font-size: 2.3vw;
    color: #fff;
  
  }
  
  .quote-button {
    height: 100%;
    position: relative;
  }
  
  .quote-btn {
    position: absolute;
    top: 5rem;
    left: 14rem;
  }
  
  