.customer-testimoni {
    color: #3a4166;
    height:100vh;
  }
  
  .customer-testimoni h1 {
    margin-bottom: 2rem;
    margin-left: 5rem;
    padding-top: 5rem;
    padding-left: 1rem;
  }
  
  .videos-container {
    margin: 2rem 5rem;
    display: flex;
    justify-content: center;
  }
  
  .video {
    padding: 1rem;
    margin: 0 auto;
    width: 350px;
  }
  
  .video p {
    padding: 2rem 0;
    font-size: 1vw;
  }
  
  .video h4 {
    display: inline;
    font-size: 1vw;
  }
  
  iframe {
    border-radius: 0.5rem;
    justify-self: stretch;
    height:100%;
    width:100%;
  }
  