.trustedby {
    height: 100%;
    margin-left: 5rem;
    color: #3a4166;
  }
  
  .trustedby-title {
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }
  
  .trustedby img {
    width: 10rem;
    height: 8rem;
    margin: 2rem;
    border-radius: 0.6rem;
    opacity: 0.1;
    filter: grayscale(50%);
  }
  
  .trustedby img:hover {
    opacity: 1;
    filter: grayscale(0);
  }
  
  