.unli-container {
    height: 100%;
    background-image: linear-gradient(45deg,
        #00349b,
        rgba(0, 92, 255, 0.9219),
        #007aff);
    color: #fff;
}
 
.main-unli {
    display:flex;
    margin-left: 5rem;
    margin-right: 5rem;
}
.unli-img img {
    width: 100%;
    height: 100%;
}
  
.unli-text {
    text-align: left;
    padding: 2rem 2rem;
    width: 50vw;
}

.unli-text h1 {
    font-size: 8vh;
}
.unli-text p {
    margin: 0.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    font-size:1.5vw;
}